body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9c1d9; /* Милый розовый фон */
  }
  
  h1 {
    color: #fff;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-shadow: 2px 2px 4px #000;
  }
  
  .hearts {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
  
  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-100px); }
  }
  .heart {
    content: '❤';
    position: absolute;
    animation: float 5s ease-in-out infinite;
  }
  